@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
  --animate-winner-glow: glow 1.5s ease-in-out infinite alternate;
  --animate-shake: shake 0.4s ease-in-out;

}
  
@keyframes glow {
  from {
    box-shadow: 0 0 2px #a7f3d033;
  }
  to {
    box-shadow: 0 0 8px #a7f3d099, 0 0 10px #a7f3d099;
  }
}

@keyframes shake {
  0%, 
  100% { 
    transform: translateX(0) 
  }
  20%,
  60% { 
    transform: translateX(-6px) 
  }
  40%, 
  80% { 
    transform: translateX(6px) 
  }
}